@media only screen and (min-width: 200px) {
    .back_button {
        border: none;
        font-size: 14px;
        font-weight: bold;
        background-color: #D9B282;
        color: #D96C6C;
        font-weight: bold;
        font-family: 'Cabin', sans-serif;
        width: 75px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 750px) {
    .back_button {
        width: 90px;
        font-size: 15px;
    }
    .back_button:hover {
        height: 28px;
        width: 93px;
    }
}