@media only screen and (min-width: 200px) {
    .comment_label {
        font-size: 13px;
        color: #D9B282;
        margin-bottom: 10px;
    }
    .description {
        width: 250px;
        border: 1px solid lightgray;
        margin-bottom: 10px;
    }
    .add_comment {
        width: 50px;
        border: 0px;
        padding: 0px;
        height: 20px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 750px) {
    .comment_label {
        font-size: 16px;
    }
    .description {
        width: 400px;
    }
    .add_comment {
        width: 90px;
        margin-bottom: 70px;
        font-size: 15px;
    }
    .add_comment:hover {
        height: 28px;
        width: 93px;
    }
}