@media only screen and (min-width: 200px) {
    .name_label, .description_label, .topic_label {
        font-size: 13px;
        color: #D9B282;
        margin-bottom: 10px;
    }
    .name, .topic {
        width: 250px;
        border: 1px solid lightgray;
        margin-bottom: 30px;
        height: 20px;
    }
    .topic_label {
        margin-top: 30px;
    }
    .create_club_button {
        width: 75px;
        border: 0px;
        padding: 0px;
        height: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 750px) {
    .name_label, .description_label, .topic_label {
        font-size: 16px;
    }
    .name, .topic {
        width: 400px;
    }
    .create_club_button {
        width: 90px;
        font-size: 15px;
    }
    .create_club_button:hover {
        height: 28px;
        width: 93px;
    }
}