@media only screen and (min-width: 200px) {
    body {
        text-align: center;
    }
    .header {
        padding-top: 80px;
    }
    .margins {
        margin-left: 30px;
        margin-right: 30px;
    }
    .homepage {
        margin-bottom: 50px;
    }
    .line_height {
        line-height: 0;
    }
    .h1_size {
        font-size: 38px;
        color: #591228;
    }
    .h2_size {
        font-size: 19px;
    }

    .homepage_body {
        border-top: 1px solid #E5E9F4;
        padding-top: 20px;
        border-bottom: 1px solid #E5E9F4;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 750px) {
    .header {
        padding-top: 100px;
    }
    .margins {
        margin-left: 200px;
        margin-right: 200px;
    }

    .h1_size {
        font-size: 50px;
    }
    .h2_size {
        font-size: 30px;
    }

    .home_hyperlink, .home_p {
        font-size: 20px;
    }
}