body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #194040;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  background: url(./routes/Homepage/background.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}